@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;500;600&display=swap");

:root {
  --text-color: rgb(38, 59, 94);
  --text-color-span: rgb(23, 185, 120);
  --bg-color: rgb(245, 244, 251);
}

body,
html {
  width: 100%;
  /* overflow-x: hidden; */
}

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

header {
  font-family: "Edu NSW ACT Foundation", cursive;
  font-weight: 600;
  font-size: 1.2rem;
  width: 100vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
  position: fixed;
  top: 0;
  background-color: rgba(190, 224, 254, 0.5);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 2022;
}

header .logo {
  cursor: pointer;
  margin-right: auto;
}

header .logo a {
  display: block;
  height: 50px;
  width: 150px;
  background-image: url(../images/signature.png);
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: center;
}

header .menu {
  position: relative;
  display: flex;
  justify-content: center;
}

header .menu li {
  display: inline-block;
  justify-content: left;
  padding: 10px 20px;
}

header .menu li a {
  color: black;
  transition: all 0.3s ease 0s;
}

header .menu li a:hover {
  color: aqua;
}

header .menu li a::after {
  content: "";
  display: block;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
  border-bottom: solid 3px #019fb6;
}

header .menu li a:hover::after {
  transform: scaleX(1);
}

header .menu .dropdown {
  position: relative;
}

header .menu .dropdown-content {
  display: none;
  position: absolute;
  top: 45px;
  background-color: rgba(190, 224, 254, 0.45);
  z-index: 1;
}

header .menu .dropdown-content {
  text-align: center;
  border-radius: 0 0 15px 15px;
}

header .menu .dropdown-content .dropdown-item {
  padding: 0 10px;
  display: block;
  border-bottom: rgba(107, 186, 255, 0.756) 1px solid;
}

header .menu .dropdown-content .dropdown-item:last-child {
  border-radius: 0 0 15px 15px;
  border-bottom: none;
}

header .menu .dropdown-content .dropdown-item:hover {
  background-color: #ddd;
}

header .menu .dropdown-content a {
  color: black;
  display: block;
  padding: 12px 16px;
}

header .menu .dropdown:hover .dropdown-content {
  display: block;
}

header .icon {
  display: none;
}

.banner {
  height: 550px;
  display: flex;
  background-image: url(../images/olia-gozha-J4kK8b9Fgj8-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.banner .banner_rignt_text {
  max-width: 45%;
  margin: auto 0;
  padding-left: 150px;
}

.banner .banner_rignt_text span {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  color: var(--text-color-span);
  letter-spacing: 2px;
}

.banner .banner_rignt_text h1 {
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 10px;
}

.banner .banner_rignt_text p {
  margin-bottom: 16px;
  font-size: 1.2rem;
}

.banner .banner_rignt_text p a {
  font-size: 20px;
  font-weight: 900;
  background: var(--text-color-span);
  border: 1px solid var(--text-color-span);
  border-radius: 20px;
  color: #fff;
  padding: 10px;
}

.tech {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.tech-img {
  width: 160px;
  height: 70px;
  -o-object-fit: cover;
  object-fit: cover;
}

/* about */
#about {
  padding: 100px 0;
}

#about .about-wrap {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

#about .about-img {
  -o-object-fit: cover;
  object-fit: cover;
  height: 500px;
  width: 40%;
  margin: 0 auto;
}

#about .about-section {
  padding: 0 0 0 40px;
  width: 50%;
}

#about .about-section h1 {
  font-size: 60px;
  color: var(--text-color);
}

#about .about-section h2 {
  margin-top: 20px;
  color: var(--text-color);
}

#about .about-section p {
  margin-top: 15px;
  color: var(--text-color);
}

.achievements {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.achievements .achievements-wrap .achievements-item {
  text-align: center;
  width: 250px;
  padding: 40px 10px;
  background-color: rgb(239, 239, 239);
}

.achievements .achievements-wrap strong {
  font-size: 34px;
}

.achievements .achievements-wrap span {
  display: block;
  font-size: 20px;
}

/* chapter */
.chapter-container {
  max-width: 1200px;
  margin: 0 auto;
}

.chapter-title {
  display: block;
  text-align: center;
  margin: 40px 0 30px 0;
  padding: 40px 0 0 0;
  font-size: 35px;
  color: var(--text-color);
}

.chapter {
  display: flex;
  position: relative;
}

.chapter .chapter-sidebar-wrap {
  flex: 0 0 33.3333%;

}

.chapter .chapter-sidebar {
  position: sticky;
  top: 100px;
  height: 300px;
  padding: 0 15px;
  font-size: 25px;


}

.chapter .chapter-sidebar li {
  padding: 15px;
  /* border-bottom: 1px black solid; */
}

.chapter .chapter-sidebar li::after {
  content: "";
  display: block;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
  border-bottom: solid 3px #019fb6;
}

.chapter .chapter-sidebar li:hover:after {

  transform: scaleX(1);
  
}
.chapter .chapter-sidebar a{
  color: black;
}
.chapter .chapter-content {
  flex: 0 0 66.6666%;
  padding: 0 15px;
  margin: 0 auto;
}

.chapter .chapter-section {
  background-color: var(--bg-color);
  padding: 60px 20px 20px 20px;
  margin-bottom: 20px;
}

.chapter .chapter-section p {
  padding-top: 20px;
  font-size: 18px;
}

/* review */
.carousel {
  max-width: 1200px;
  height: 500px;
  /* border: 12px solid black; */
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  padding-top: 60px;
  margin: 0 auto;
}

.carouselwrap {
  height: 100%;
  width: 100%;
  position: relative;
  left: 0px;
  display: flex;

  /* 動畫 */
  transition: all 1s;
}

.carouselwrap img {
  width: 100%;
  height: 100%;
  /* 防止圖片寬度被壓縮 */
  flex-shrink: 0;
  /* 防止圖片寬高比改變 */
  object-fit: cover;
}

.carousel .shift .btn {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;

  background-color: teal;
  color: white;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 8px;
  font-size: 40px;
  font-weight: bold;
  /* 水平垂直中 */
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  opacity: 0.5;

}

.carousel .shift .left {
  left: 20px;
}

.carousel .shift .right {
  right: 20px;
}

.carousel .botton {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: max-content;
  display: flex;
  gap: 10px;
}

.carousel .botton .indicator {
  height: 5px;
  width: 40px;
  background-color: teal;
  cursor: pointer;
  border-radius: 8px;

}

.carousel:hover .shift .btn {
  opacity: 1;
}

/* my books */
.my-books {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 50px;
  text-align: center;
}

.my-books span {
  font-size: 20px;
  font-weight: 700;
  color: var(--text-color-span);
  letter-spacing: 2px;
}

.my-books h2 {
  font-size: 60px;
}

.my-books .bookwrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}

.my-books .bookwrap .books {
  height: 300px;
  width: 280px;
  margin: 10px;
  /* background: url("../images/book3.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

}

.my-books .bookwrap .books:hover {
  border: 3px rgb(255, 255, 255) solid;
  box-shadow: 2px 2px 20px 3px rgba(0, 0, 0, 0.5) inset;
  transform: scale(1.25);
  -webkit-transform: scale(1.25);
  -ms-transform: scale(1.25);
  z-index: 2;
}

.my-books .bookwrap .books .books-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: rgba(62, 61, 61, 0.244);

}

.my-books .bookwrap .books .books-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  background-color: rgba(255, 228, 196, 0.9);
}

#overlay {
  position: fixed;
  /* Sit on top of the page content */
  display: none;
  /* Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Black background with opacity */
  z-index: 2;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
}

#text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* books end */
.author {
  max-width: 1200px;
  /* height: 100vh; */
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
}

.author .author-img {
  width: 50%;
  /* padding: 20px; */
  -o-object-fit: cover;
  object-fit: cover;
  height: 590px;
  -o-object-position: center;
  object-position: center;
}

.author .autohor-section {
  /* margin-top: 20px; */
  padding: 20px 0 0 40px;
  width: 50%;
  background-color: bisque;
  /* height: 550px; */
}

.author .autohor-section h2 {
  font-size: 40px;
  padding: 15px 0;
}

.author .autohor-section p {
  padding: 15px 0;
  font-size: 18px;
  color: var(--text-color);
}

.author .autohor-section span {
  padding-top: 15px;
  display: block;
  font-size: 18px;
  font-weight: 700;
  color: var(--text-color-span);
  letter-spacing: 2px;
}

.author .autohor-section .about-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.author .autohor-section .about-info li {
  width: 100%;
}

.author .autohor-section .about-info li span {
  display: inline-block;
  color: black;
}

.author .autohor-section .about-info li span:first-child {
  width: 25%;
}

.author .autohor-section .about-info li span:last-child {
  color: var(--text-color);
}

.author .autohor-section .about-p {
  margin-top: 30px;
  padding: 15px 20px;
  border: 1px var(--text-color-span) solid;
  border-radius: 60px;
  background-color: var(--text-color-span);
  color: white;
  font-weight: 800;
}

/* Contact */
.Contact {
  padding: 40px 40px 0 40px;
  max-width: 1200px;
  /* height: 100vh; */
  margin: 0 auto;
}

.Contact h2 {
  text-align: center;
  font-size: 50px;
  color: var(--text-color);
  margin-bottom: 40px;
}

.Contact .contact-wrap {
  display: flex;
  flex-wrap: nowrap;
}

.Contact .contact-wrap .contact-item-wrap {
  display: flex;
  flex-wrap: wrap;
}

.Contact .contact-wrap .contact-item-wrap .contact-item {
  width: 50%;
  height: 50%;
  text-align: center;
}

.Contact .contact-wrap .contact-item-wrap .contact-item h1 {
  padding: 20px 5px;
}

.Contact .contact-wrap .contact-item-wrap .contact-item p {
  padding: 20px 5px;
}

.Contact .contact-wrap .contact-item-wrap .contact-item .contact-item-i {
  margin: 0 auto;
  width: 80px;
  height: 80px;
  position: relative;
  background-color: var(--text-color-span);
  border-radius: 100%;
}

.Contact .contact-wrap .contact-item-wrap .contact-item .contact-item-i i {
  line-height: 80px;
}

.Contact .form {
  background-color: var(--bg-color);
  padding: 30px;
}

.Contact .form input {
  display: block;
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
}

.Contact .form input:last-child {
  background-color: var(--text-color-span);
  border-radius: 20px;
  width: 50%;
  margin: auto;
}

.Contact .form textarea {
  resize: none;
  margin-bottom: 20px;
}

footer {
  height: 100px;
  padding: 42px 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
}

@media only screen and (max-width: 992px) {
  header {
    position: fixed;
    display: block;
  }

  header .icon {
    font-size: 40px;
    cursor: pointer;
    display: block;
    position: absolute;
    top: 10px;
    right: 50px;
  }

  header .menu {
    display: none;
    width: 100vw;
    transition: 0.5s;
  }

  header .menu.responsive {
    display: block;
  }

  header .menu.responsive li {
    display: block;
  }

  .banner {
    margin-top: 50px;
    height: 550px;
    display: flex;
  }

  .banner .banner_rignt_text {
    width: 100vw;
    margin: auto;
    padding: 0;
  }

  .banner .banner_rignt_text span {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    color: var(--text-color-span);
    letter-spacing: 2px;
  }

  .banner .banner_rignt_text h1 {
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 10px;
  }

  .banner .banner_rignt_text p {
    margin-bottom: 16px;
    font-size: 1.2rem;
  }

  .banner .banner_rignt_text p a {
    font-size: 20px;
    font-weight: 900;
    background: var(--text-color-span);
    border: 1px solid var(--text-color-span);
    border-radius: 20px;
    color: #fff;
    padding: 10px;
  }
}

@media only screen and (max-width: 768px) {

  .banner {

    height: 550px;
    display: flex;
  }

  .banner .banner_rignt_text {
    width: 100%;
    margin: auto;
    padding: 0;
  }

  .banner .banner_rignt_text span {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    color: var(--text-color-span);
    letter-spacing: 2px;
  }

  /* 分隔 */

  .sm .tech-img {
    padding: 0 15px;

  }

  /* about */
  #about {
    padding: 50px 0;
  }

  #about .about-wrap {
    width: 100vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  #about .about-img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 500px;
    width: 100%;
    margin: 0 auto;
  }

  #about .about-section {
    padding: 0 0 0 40px;
    width: 100%;
  }

  .achievements {
    width: 100vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }

  .achievements .achievements-wrap {
    width: calc(100% / 4);
    padding: 0 15px;
  }

  .achievements .achievements-wrap .achievements-item {
    text-align: center;
    width: 100%;
    padding: 40px 10px;
    background-color: rgb(239, 239, 239);
  }

  .achievements .achievements-wrap strong {
    font-size: 34px;
  }

  .achievements .achievements-wrap span {
    display: block;
    font-size: 20px;
  }



  /* chapter */
  .chapter-title {
    display: block;
    text-align: center;
    margin: 40px 0 30px 0;
    padding: 40px 0 0 0;
    font-size: 35px;
    color: var(--text-color);
  }

  .chapter {
    display: flex;
    flex-wrap: wrap;

  }

  /* 
  .chapter .chapter-sidebar-wrap {
    width: 20%;
    height: 100%;
    padding: 0 15px;
    font-size: 25px;
  } */
  .chapter .chapter-sidebar-wrap {

    display: none;
  }


  .chapter .chapter-sidebar-wrap .chapter-sidebar {

    position: sticky;
    top: 180px;

    margin: 0;
    width: 100%;
    height: 300px;
  }

  .chapter .chapter-sidebar-wrap .chapter-sidebar li {
    padding: 15px;
  }

  /* .chapter .chapter-content {
    width: 65%;
    padding: 0 15px;
    margin: 0 auto;
  } */
  .chapter .chapter-content {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }

  .chapter .chapter-section {
    background-color: var(--bg-color);
    padding: 60px 20px 20px 20px;
    margin-bottom: 20px;
  }

  .chapter .chapter-section p {
    padding-top: 20px;
    font-size: 18px;
  }

  .review {
    width: 98vw;
  }

  /* mybooks */
  .my-books {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
  }

  .my-books span {
    font-size: 20px;
    font-weight: 700;
    color: var(--text-color-span);
    letter-spacing: 2px;
  }

  .my-books h2 {
    font-size: 60px;
  }

  .my-books .bookwrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
  }

  .my-books .bookwrap .books {
    height: 300px;
    width: 280px;
    margin: 10px;
    background: url("../images/book3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }

  .my-books .bookwrap .books:hover {
    border: none;
    box-shadow: none;
    transform: none;
    -webkit-transform: none;
    -ms-transform: none;
    z-index: none;
  }

  .my-books .bookwrap .books .books-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background: rgba(62, 61, 61, 0.244);
    z-index: -1;
  }

  .my-books .bookwrap .books .books-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
  }

  .author {
    max-width: 1200px;
    /* height: 100vh; */
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
  }

  .author .author-img {
    margin-top: 20px;
    width: 50%;

    -o-object-fit: cover;
    object-fit: cover;
    /* height:   100%; */
    -o-object-position: center;
    object-position: center;
  }

  .author .autohor-section {
    margin-top: 20px;
    padding: 20px 30px;
    width: 50%;
    background-color: bisque;
    /* height: 550px; */
  }

  .author .autohor-section h2 {
    font-size: 40px;
    padding: 15px 0;
  }

  .author .autohor-section p {
    padding: 15px 0;
    font-size: 18px;
    color: var(--text-color);
  }

  .author .autohor-section span {
    padding-top: 15px;
    display: block;
    font-size: 18px;
    font-weight: 700;
    color: var(--text-color-span);
    letter-spacing: 2px;
  }

  .author .autohor-section .about-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .author .autohor-section .about-info li {
    width: 100%;
  }

  .author .autohor-section .about-info li span {
    display: inline-block;
    color: black;
  }

  .author .autohor-section .about-info li span:first-child {
    width: 25%;
  }

  .author .autohor-section .about-info li span:last-child {
    color: var(--text-color);
  }

  .author .autohor-section .about-p {
    margin-top: 30px;
    padding: 15px 20px;
    border: 1px var(--text-color-span) solid;
    border-radius: 60px;
    background-color: var(--text-color-span);
    color: white;
    font-weight: 800;
  }

  .Contact {
    padding: 40px 40px 0 40px;
    max-width: 1200px;
    /* height: 100vh; */
    margin: 0 auto;
  }

  .Contact h2 {
    text-align: center;
    font-size: 50px;
    color: var(--text-color);
    margin-bottom: 40px;
  }

  .Contact .contact-wrap {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .Contact .contact-wrap .contact-item-wrap {
    display: flex;
    flex-wrap: wrap;
  }

  .Contact .contact-wrap .contact-item-wrap .contact-item {
    width: calc(50% - 20px);
    padding-top: 15px;
    height: 50%;
    margin: 10px;
    border: 1px black dashed;
    text-align: center;
  }

  .Contact .contact-wrap .contact-item-wrap .contact-item h1 {
    padding: 20px 5px;
  }

  .Contact .contact-wrap .contact-item-wrap .contact-item p {
    padding: 20px 5px;
  }

  .Contact .contact-wrap .contact-item-wrap .contact-item .contact-item-i {
    margin: 0 auto;
    width: 80px;
    height: 80px;
    position: relative;
    background-color: var(--text-color-span);
    border-radius: 100%;
  }

  .Contact .contact-wrap .contact-item-wrap .contact-item .contact-item-i i {
    line-height: 80px;
  }

  .Contact .form {
    background-color: var(--bg-color);
    padding: 30px;
  }

  .Contact .form input {
    display: block;
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
  }

  .Contact .form input:last-child {
    background-color: var(--text-color-span);
    border-radius: 20px;
    width: 50%;
    margin: auto;
  }

  .Contact .form textarea {
    resize: none;
    margin-bottom: 20px;
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {

  /* 分隔 */
  .container {
    max-width: 1200px;
    margin: 0;
    overflow: none;
  }

  .sm {
    overflow-x: scroll;
  }

  .sm::-webkit-scrollbar {
    display: none;
  }

  .sm .tech {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .sm .tech-img {
    width: scale(100% / 5);
    height: 70px;
    padding: 0 15px;
    object-fit: cover;

  }

  .achievements .achievements-wrap {
    width: calc(100% / 2);
    padding: 0 15px 10px 15px;
  }

  /* chapter */
  .chapter .chapter-sidebar-wrap {

    display: none;
  }

  .chapter .chapter-content {
    width: 100%;

  }

  /* about */
  .achievements {
    width: 100vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }


  #about .about-section {
    padding: 0 20px;
    width: 100%;
  }

  /* book */
  .my-books .bookwrap .books {
    height: 49vh;
    width: 100%;
    margin: 10px;
    background: url(../images/book3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }

  .my-books .bookwrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: center;
  }

  /* author */
  .author .author-img {
    display: none;
  }

  .author .autohor-section {
    margin-top: 20px;
    padding: 20px 30px;
    width: 100%;
    background-color: bisque;
    /* height: 550px; */
  }

  /* contact me */
  .Contact .contact-wrap {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .sm-contact-item {
    display: none;
  }

  .Contact .form textarea {
    resize: none;
    margin-bottom: 20px;
    width: 100%;
  }

}