<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name='description' content='kai'>
    <meta name='keywords' content='HTML,CSS,JavaScript'>
    <meta name='author' content='kai'>
    <title>typewriter</title>
</head>
<body>
    <p id="demo"></p>
    <button onclick="typewriter()">Click me</button>

    <script>
let c =0;
let txt ="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit praesentium expedita odit in, dolorem porro officiis illum ducimus maxime quaerat, iure molestias, maiores tempore necessitatibus! Deleniti in repellat sit at.";
let speed =50;
function typewriter(){
    console.log('123');
    if(c<txt.length){
        document.getElementById('demo').innerHTML += txt.charAt(c);
        c++;
        setTimeout(typewriter,speed);
        
    }
    
}
    </script>
</body>
</html>